# Core dependencies
numpy>=1.21.0
pandas>=2.0.0
streamlit>=1.25.0
openpyxl

# Machine learning models and statistics
scikit-learn>=1.2.0
xgboost>=1.7.0
statsmodels>=0.14.0

# NFL Data
nfl_data_py>=0.3.0

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
